/* .enjoy, */
/* .favorite, */
/* .about, */
.mobile,
.footer {
    display: none;
}

@media (max-width: 768px) {
    .header__burger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        align-items: center; 
    }
    .header__menu-link {
        display: none;
    }
    .header__navigation {
        display: none;
    }

    .enjoy__hero-img {
        padding: 100px 60px;
    }
    .hero__button-text {
        transform: inherit;
        transition: inherit;
      }
    .hero__button-img {
        opacity: initial;
    }

    .about__images-box--2 {
        display: none;
    }
    .about__images-conteiner {
        flex-direction: column;
    }

    .about__images-box--1{
        max-width: 688px;
    }
}


@media (max-width: 380px) {
    .wrapper {
        padding: 20px 16px;
      }
      
    .enjoy__hero-img {
        padding: 60px 16px;
    }
    .hero__conteiner {
        max-width: 348px;
        display: flex;
        flex-direction: column;
        gap: 40px; 
        align-items:flex-start
    }
    .hero__title {
        font-size: 42px;
        line-height: 115%;
    }
    .hero__subtitle {
        max-width: 316px;
    }

    .title {
        font-size: 32px;
        text-align: center;
    }
    .favorite__slider-wrapper {
        max-width: 348px;
        height: 532px;
    }
    .favorite__slide {
        width: 348px;
        
    }
    .favorite__slider {
        height: auto;
    }

    .slider__button {
        display: none;
    }

    .about__title {
        text-align: start;
    }
    .about__images-box--1{
        max-width: 348px;
    }
}