/* .enjoy, */
/* .favorite, */
/* .about, */
/* .mobile, */
/* .footer {
    display: none;
} */

@media (max-width: 1024px) {

    .enjoy__hero-img,
    .footer-conteiner {
        padding: 100px 60px;
    }
    .hero__button-text {
        transform: inherit;
        transition: inherit;
      }
    .hero__button-img {
        opacity: initial;
    }
    .header__burger,
    .about__images-conteiner,
    .mobile, 
    .footer-conteiner {
        flex-direction: column;
    }
    .about__images-box--1,
    .mobile__offer,
    .mobile__images {
        max-width: 688px;
    }

}

@media (max-width: 768px)
{
    .header__burger {
        display: flex;
        gap: 6px;
        justify-content: center;
        align-items: center; 
    }
    .header__menu-link,
    .header__navigation,
    .about__images-box--2 {
        display: none;
    }
}


@media (max-width: 760px) {
    .slider__button {
        display: none;
    }
    .favorite__slider {
        height: auto;
        justify-content: center;
    }
    .about__images-box--1 {
        max-width: 570px;
    }
    
    .mobile__offer,
    .mobile__images,
    .hero__conteiner {
        max-width: 450px;
    }

    .enjoy__hero-img,
    .footer-conteiner {
        padding: 60px 20px;;
      } 
      .hero__title {
        font-size: 60px;
        line-height: 115%;
    }

}

@media (max-width: 600px) {
    .wrapper {
        padding: 20px 16px;
      }
    .enjoy__hero-img,
    .footer-conteiner {
          padding: 60px 16px;;
    } 
    .hero__conteiner,
    .mobile__offer,
    .mobile__images,
    .favorite__slider-wrapper,
    .about__images-box--1 {
        max-width: 380px;
    }
    .hero__title {
        font-size: 42px;
        line-height: 115%;
    }
    .hero__subtitle {
        max-width: 316px;
    }
    .title {
        font-size: 32px;
        text-align: center;
    }
    .favorite__slider-wrapper {
        height: 532px;
    }
    .favorite__slide {
        width: 348px;
    }
    .slider__button {
        display: none;
    }
    .about__title,
    .offer__title,
    .social__title {
        text-align: start;
    }
    .mobile,
    .footer-conteiner {
        gap: 40px;
    }
}

@media (max-width: 400px) {
    .hero__conteiner,
    .about__images-box--1,
    .mobile__offer,
    .mobile__images,
    .favorite__slider-wrapper {
        max-width: 348px;
    }
    .mobile__offer-button {
        flex-direction: column;
    }
    .offer__button {
        padding: 11px 20px;
    }
}
